<div class="page-shell main-card">
  <div class="header">
    <div class="icon-group">
      <span class="user-icon">
        <i class="fa-solid fa-user-group"></i>
      </span>
      <div>
        <h1>Gestión de contactos</h1>
        <p class="total">Activos: {{ totalActiveContacts() }} de {{ totalContacts() }} contactos</p>
      </div>
    </div>
    <button type="button" class="btn-new-user" (click)="addElement()">
      <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
      Nuevo
    </button>
  </div>

  <div class="list-container">
    @if (contactsFromService().length > 0) {
      
      @for (item of contactsFromService() | sortByFavorite; track item.email) {
        <app-contact-card [contact]="item" (select)="handleSelectContact($event)"></app-contact-card>
      }

    } @else {
      <p>No hay contactos</p>
    }
  </div>
</div>